{% extends 'base.html.twig' %}

{% block title %}Modifier L'utilisateur {% endblock %}

{% block body %}
    <h1>Modifier L'utilisateur</h1>

    {{ include('profile/_form.html.twig', {'button_label': 'Valider'}) }}

{% endblock %}
