{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


    <h1>Bienvenue dans le blog sur le carnaval aux Antilles</h1>

<p>

    S’étendant sur environs deux mois, le Carnaval de Guadeloupe est un événement de grande importance de l’archipel et une véritable attraction touristique. Il débute le dimanche qui suit l’épiphanie et prend fin le mercredi des cendres.
    <br>
    <br>
    <br>
    Ce sont les colons catholiques qui sont à l’origine de cet évènement festif datant du 17ème siècle. Il avait pour but de permettre aux chrétiens de profiter une dernière fois de certains plaisirs comme manger de la viande et faire la fête avant d’entamer le carême synonyme pour eux de privations. Ce carême est une période qui dure 40 jours juste avant pâques et commence le mercredi des cendres.
    <br>
    <br>
    <br>
    Peu à peu, il fut permis aux esclaves d’y prendre part et ceux-ci ne tardèrent pas à y apporter leur touche distinctive. Ils y ont introduit des masques comme clin d’œil à leurs origines africaines ainsi que des percussions également propres à leur culture. C’était aussi pour eux l’occasion de se moquer de leurs maîtres sans craindre des représailles.
    <br>
    <br>
    <br>
    Cette tradition ancestrale est aujourd’hui un festival haut en couleur se déroulant dans les principales villes de Guadeloupe : Pointe-à-Pitre, St François, Deshaies, Basse-Terre etc.

    Il contient des déboulés (défilés) et des personnages masqués ayant chacun une signification particulière (masques à fouets, masques à cornes, masques à miroir, etc.).
    C’est un carnaval unique en son genre qui combine histoire, religion et caractère exutoire.
</p>


{% endblock %}
