{% extends 'base.html.twig' %}

{% block title %}recherche{% endblock %}

{% block body %}
<h1>résultats de la recherche</h1>
<h2 class="my-4">Nous avons trouvé les articles suivants pour vous :</h2>

    {% for article in articles %}
        <div>
            <h3>{{ article.title }}</h3>
            <div>
                <a href="{{ path('app_article_show', {'id': article.id}) }}">Consulter le contenu de l'article</a>
            </div>
        </div>
        {% else %}
            <div>
                Aucun article disponible pour ces critéres de recherche.
            </div>
        {% endfor %}
        
    {% endblock %}
