{% extends 'base.html.twig' %}

{% block title %}Liste de categorie{% endblock %}

{% block body %}
    <h1 class="categorie">Les catégories disponibles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom de la catégorie</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('app_category_show', {'id': category.id}) }}">Consulter</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucune catégorie disponible</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
