{% extends 'base.html.twig' %}

{% block title %}Créer catégorie{% endblock %}

{% block body %}
    <h1>Créer catégorie </h1>

    {{ include('admin_category/_form.html.twig', {'button_label': 'Valider'}) }}

    {{ include('admin_category/_delete_form.html.twig') }}

    <a href="{{ path('app_admin_category_index') }}">Retour à la liste</a>
    
{% endblock %}
